<table class="table">
    <caption *ngIf="caption">{{ caption }}</caption>
        <thead>
            <tr>
                <th *ngFor="let colhead of model[0] | keys"> {{model.key}}</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th *ngFor="let colhead of model[0] | keys"> {{model.value}}</th>
            </tr>
        </tbody>
</table>

<!-- <span *ngFor="let entry of (model | keys)" >           
    Key: {{entry.key}}, value: {{entry.value}}
</span> -->