<div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Assignment</h3>
               
            </div>

            <ul class="list-unstyled components">
                
                
                <li routerLinkActive="active">
                    <a routerLink="/home">Dashboard</a>
                </li>
                <li routerLinkActive="active" >
                    <a routerLink="/contact">Map</a>
                </li>
            </ul>

           
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-default">
               
            </nav>
            <router-outlet></router-outlet>
        </div>
           
</div>